This Notebook proposes to build a classification methodology to predict the type of Thyroid based on the given training data. 

I Downloaded the datasets from the datasource ‘UCI Machine Learning Repository’

https://archive.ics.uci.edu/ml/datasets/Thyroid+Disease
*   allhyper.data

*   allhyper.test

*   allhypo.data


*   allhypo.test

*   ann-test.data
*   ann-train.data



*   hypothyroid.data
*   sick-euthyroid.data

*   thyroid0387.data

**CONTENTS**

1.Merging Data

2.Data PreProcessing

3.Training of The Classifiers

4.Model selection and saving

In [6]:
#Installation of required libraries (Python 3)

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from  xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from imblearn.over_sampling import SMOTE
from sklearn.utils import resample
from scipy import stats
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier


import os

**1: Data Integration**

Merging these different datasets.

A: Importing 'allhyper' and 'allhypo' datasets

In [7]:
allHyperTEST = pd.read_csv("allhyperTEST.CSV")
allHyperDATA = pd.read_csv("allhyperDATA.CSV")
allHypoTEST = pd.read_csv("allhypoTEST.csv")
allHypoDATA = pd.read_csv("allhypoDATA.CSV")

display(allHypoTEST.head(10))

   age sex on_thyroxine  ... referral_source                   Target    ID
0   35   F            f  ...           other                 negative   219
1   63   M            f  ...             SVI                 negative  2059
2   25   F            f  ...            SVHD                 negative   399
3   53   F            f  ...           other                 negative  1911
4   92   F            f  ...             SVI                 negative   487
5   67   M            f  ...           other                 negative  1234
6   60   F            f  ...           other                 negative  1113
7   60   F            f  ...             SVI  compensated_hypothyroid  1344
8   48   F            f  ...           other                 negative  2758
9   27   F            f  ...             SVI                 negative  3230

[10 rows x 31 columns]

Checking For any instances(duplicate values) with the same value of 'ID' attribute

In [8]:
allHyperDATA.duplicated('ID')
allHyperTEST.duplicated('ID')
allHypoDATA.duplicated('ID')
allHypoTEST.duplicated('ID')

0      False
1      False
2      False
3      False
4      False
       ...
967    False
968    False
969    False
970    False
971    False
Length: 972, dtype: bool

Drop the 'ID' attribute as, it is not helpful for the classification

In [9]:
del allHyperTEST["ID"]
del allHyperDATA["ID"]
del allHypoTEST["ID"]
del allHypoDATA["ID"]

Converting all different instances other than negative in 'Target' column into hyperthyroid or hypothyroid from  allhyper and allhypo datasets.

In [10]:
def notCorrect_TargetFilter(df,correct_Target,target):
    df = df[df.Target.isin(correct_Target)]
    df.replace(correct_Target,target,inplace = True)
    return df
    
allHyperTEST = notCorrect_TargetFilter(allHyperTEST,["hyperthyroid","T3_toxic","goitre","secondary_toxic"],"hyperthyroid")
allHyperDATA = notCorrect_TargetFilter(allHyperDATA,["hyperthyroid","T3_toxic","goitre","secondary_toxic"],"hyperthyroid")
allHypoTEST = notCorrect_TargetFilter(allHypoTEST,["hypothyroid", "primary_hypothyroid", "compensated_hypothyroid", "secondary_hypothyroid"],"hypothyroid")
allHypoDATA = notCorrect_TargetFilter(allHypoDATA,["hypothyroid", "primary_hypothyroid", "compensated_hypothyroid", "secondary_hypothyroid"],"hypothyroid")

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4389: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

Merging allhyper(2) and allhypo(2) datasets

In [11]:
allDataset = pd.concat([allHyperTEST,allHyperDATA,allHypoTEST,allHypoDATA], ignore_index = True)
display(allDataset.shape)

(393, 30)

B:Now importing 'thyroid0387' dataset

In [12]:
thyroid0387 = pd.read_csv("thyroid0387.CSV")
display(thyroid0387.head(10))

   age sex on_thyroxine  ... referral_source Target         ID
0   29   F            f  ...           other      -  840801013
1   29   F            f  ...           other      -  840801014
2   41   F            f  ...           other      -  840801042
3   36   F            f  ...           other      -  840803046
4   32   F            f  ...           other      S  840803047
5   60   F            f  ...           other      -  840803048
6   77   F            f  ...           other      -  840803068
7   28   F            f  ...             SVI      -  840807019
8   28   F            f  ...           other      -  840808060
9   28   F            f  ...           other      -  840808073

[10 rows x 31 columns]

removing 'ID' attribute (since,it is not useful for the classification )

In [13]:
del thyroid0387["ID"]

converting categorical values into numerical by mapping

In [14]:
thyroid0387['sex'] = thyroid0387['sex'].map({'F': 1, 'M': 0})

This dataset has different classes: A,B,C,D,E,F,G,H.

replacing A,B,C,D with hyperthyroid

replacing E,F,G,H with hypothyroid

All the others should be considered as 'negative'.

In [15]:
thyroid0387.replace(['A','B','C','D'],"hyperthyroid",inplace = True)
thyroid0387.replace(['E','F','G','H'],"hypothyroid",inplace = True)

for value in set(thyroid0387['Target']):
    if(value != 'hypothyroid' and value != 'hyperthyroid'):
        thyroid0387.replace(value,'negative',inplace=True)

C:Now Importing 'hypothyroid' dataset

In [16]:
hypothyroid = pd.read_csv("hypothyroid.csv")
display(hypothyroid.shape)
display(hypothyroid.head(10))

(3163, 26)

    Unnamed: 0 Age Sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y   10            n   ?
1  hypothyroid  15   F            t  ...            y   17            n   ?
2  hypothyroid  24   M            f  ...            y    0            n   ?
3  hypothyroid  24   F            f  ...            y    6            n   ?
4  hypothyroid  77   M            f  ...            y   44            n   ?
5  hypothyroid  85   F            f  ...            y   23            n   ?
6  hypothyroid  64   F            f  ...            y   63            n   ?
7  hypothyroid  72   F            f  ...            y   32            n   ?
8  hypothyroid  20   F            f  ...            y   32            n   ?
9  hypothyroid  42   F            f  ...            y  7.5            n   ?

[10 rows x 26 columns]

The 'Unnamed' attribute indicate the target of the data.

so rename it.

filter the 'hypothyroid' class instances.

In [17]:
hypothyroid = hypothyroid.rename(columns={hypothyroid.columns[0]:"Target",hypothyroid.columns[1]:"age",hypothyroid.columns[2]:"sex" })
hypothyroid = hypothyroid[hypothyroid.Target.isin(['hypothyroid'])]
display(hypothyroid.shape)

(151, 26)

C:Now importing 'sick-euthyroid' dataset

In [18]:
sick_euthyroid = pd.read_csv("sick-euthyroid.CSV")
display(sick_euthyroid.shape)
display(sick_euthyroid.head(10))

(3163, 26)

           Target age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0  sick-euthyroid  72   M            f  ...            y   87            n   ?
1  sick-euthyroid  45   F            f  ...            y  112            n   ?
2  sick-euthyroid  64   F            f  ...            y  123            n   ?
3  sick-euthyroid  56   M            f  ...            y   99            n   ?
4  sick-euthyroid  78   F            t  ...            y   91            n   ?
5  sick-euthyroid  80   M            f  ...            y  120            n   ?
6  sick-euthyroid  74   F            f  ...            y  121            n   ?
7  sick-euthyroid   ?   F            f  ...            y  109            n   ?
8  sick-euthyroid  42   F            f  ...            y  127            n   ?
9  sick-euthyroid  89   M            f  ...            y  165            n   ?

[10 rows x 26 columns]

filter the 'sick-euthyroid' class instances.

In [19]:
sick_euthyroid = sick_euthyroid[sick_euthyroid.Target.isin(['negative'])]
display(sick_euthyroid.shape)

(2870, 26)

Note:- For 'hypothyroid' and 'sick-euthyroid' dataset, we don't have 'I131_treatment', 'hypopituitary', 'psych' and 'referral_source' attributes.

D:Now importing 'ann-test' and 'ann-train' dataset

In [20]:
ann_train = pd.read_csv("ann-train.CSV")
ann_test = pd.read_csv("ann-test.CSV")
display(ann_test.head(10))

    age  sex  on_thyroxine  query_on_thyroxine  ...    TT4    T4U      FTI  Target
0  0.29    0             0                   0  ...  0.111  0.131  0.08500       2
1  0.32    0             0                   0  ...  0.084  0.078  0.10700       3
2  0.35    0             0                   0  ...  0.239  0.100  0.23900       3
3  0.21    0             0                   0  ...  0.087  0.088  0.09900       3
4  0.22    0             0                   0  ...  0.134  0.135  0.09900       3
5  0.22    0             0                   0  ...  0.123  0.113  0.10900       3
6  0.39    0             0                   0  ...  0.133  0.144  0.09300       3
7  0.77    1             0                   0  ...  0.080  0.096  0.08316       3
8  0.23    0             0                   0  ...  0.113  0.096  0.11746       3
9  0.23    0             0                   0  ...  0.104  0.104  0.09900       3

[10 rows x 22 columns]

we can see 3,2,1 classes in 'Target' column.so, we have to find 'measured' attributes based on their columns.

In [21]:
target1 = pd.Series(ann_test[ann_test.columns[-1]].values)
display(target1.value_counts())
target2 = pd.Series(ann_train[ann_train.columns[-1]].values)
display(target2.value_counts())

3    3178
2     177
1      73
dtype: int64

3    3488
2     191
1      93
dtype: int64

Looking at the distribuition of the values for the 'Target' attribute, we can understand that:
* 3 is referring to the 'negative' class
* 2 is referring to the 'hypothyroid' class
* 1 is referring to the 'hyperthyroid' class

Now, we should analyze the distribuition of the 'sex' attribute in the other datasets to understand how I should treat it in the 'ann' datasets

In [22]:
print("Sex thyroid0387 1=F,0=M:")
sex_series1 = pd.Series(thyroid0387[thyroid0387.columns[1]].values)
display(sex_series1.value_counts())
print("Sick-euthyroid:")
sex_series2 = pd.Series(sick_euthyroid[sick_euthyroid.columns[2]].values)
display(sex_series2.value_counts())

Sex thyroid0387 1=F,0=M:

1.0    6073
0.0    2792
dtype: int64

Sick-euthyroid:

F    2003
M     800
?      67
dtype: int64

we can understand that there are more female than male patients in the above datasets. now consider 'ann' datasets to conclude 'sex' attribute.

In [23]:
sex1 = pd.Series(ann_test[ann_test.columns[1]].values)
display(sex1.value_counts())
sex2 = pd.Series(ann_train[ann_train.columns[1]].values)
display(sex2.value_counts())

0    2380
1    1048
dtype: int64

0    2629
1    1143
dtype: int64

we can assume that 

'0' refers to female

'1' refers to male

Concatinate ann_train and ann_test datasets and also map 'sex' and 'Target' attributes.

multiply 100 for all the continuous and numerical attributes and to add the 'measured' attributes.

Another important things to do is to multply for 100 all the continuos and numerical attributes and to add the 'measured' attributes.

In [24]:
ann = pd.concat([ann_train,ann_test], ignore_index = True)
ann['sex'] = ann['sex'].map({0:'F',1:'M'})
ann['Target'] = ann['Target'].map({3:'negative',2:'hypothyroid',1:'hyperthyroid'})

continuos_attributes = ['age','TSH','T3','TT4','T4U','FTI']
for attribute in continuos_attributes:
    ann[attribute] = ann[attribute] * 100

def fillNewAttributes(row,attribute):
    if row[attribute] > 0:
        return 'y'
    else:
        return 'n'

ann['TSH_measured'] = ann.apply(lambda row: fillNewAttributes(row,'TSH'), axis=1)
ann['T3_measured'] = ann.apply(lambda row: fillNewAttributes(row,'T3'), axis=1)
ann['TT4_measured'] = ann.apply(lambda row: fillNewAttributes(row,'TT4'), axis=1)
ann['T4U_measured'] = ann.apply(lambda row: fillNewAttributes(row,'T4U'), axis=1)
ann['FTI_measured'] = ann.apply(lambda row: fillNewAttributes(row,'FTI'), axis=1)
display(ann.dtypes)

age                          float64
sex                           object
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
sick                           int64
pregnant                       int64
thyroid_surgery                int64
I131_treatment                 int64
query_hypothyroid              int64
query_hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH                          float64
T3                           float64
TT4                          float64
T4U                          float64
FTI                          float64
Target                        object
TSH_measured                  object
T3_measured                   object
TT4_measured                  object
T4U_measured                  object
FTI_measured                  object
dtype: object

E:Merge all the datasets into one dataset

In [25]:
data = pd.concat([allDataset,thyroid0387,hypothyroid,sick_euthyroid,ann], ignore_index = True)
display(data.shape)
display(data.dtypes)

(19786, 30)

age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
sick                         object
pregnant                     object
thyroid_surgery              object
I131_treatment               object
query_hypothyroid            object
query_hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
TBG                          object
referral_source              object
Target                       object
dtype: object

**2: Data preprocessing**

Observing the set of possible values for each attribute.

In [26]:
for column in data.columns:
    listOfValues=set(data[column])
    print(column,": ",listOfValues)

age :  {'60', 1, 2, 3, 4, 5, 6, 7, 8, 9, '23', 11, 12, 13, 14, '45', 15, 16, 18, 19, 20, 21, '58', '62', 24, 25, 26, 27, 28, '50', '48', 31, 32, 33, 34, 35, 36, 37, 38, 39, '37', 40, 42, 43, '74', 45, '75', '51', '36', 41, 50, 51, 46, 53, 54, '29', 56, 55, 58, 59, '54', 60, 62, 63, 61, 65, 64, 67, 68, 69, 70, 71, 66, 73, 74, 75, 76, 77, '87', 79, 80, 78, 82, 83, 81, 85, 86, 17, 88, 84, '59', 90, 92, 89, 87, 93, 91, 97, 94, 95, 7.000000000000001, '2', '72', '18', '66', '90', 22, '77', '9', 23, '10', '8', '4', '57', 29, 30, '20', '22', '15', '80', '26', 14.000000000000002, '82', '92', 44, '83', '81', 47, 48, '76', 49, '14', '5', '67', 10, 51.5, 52, 52.190000000000005, '21', '65', '30', 55.00000000000001, '33', '44', 56.99999999999999, 56.00000000000001, '52', '79', '85', 57, '17', 57.99999999999999, '47', '63', '53', '19', '84', '56', '41', '31', '28', '35', '68', '46', '24', '49', '42', '61', '55', 72, '13', '40', '98', '88', '39', '71', '86', '6', 28.000000000000004, 28.999999999999996, '69', '25', '97', '64', '73', '7', '38', '32', '1', 455, '16', '34', '27', '78', '43', '70', 65511, 65512, 65526, '?', '12', '11'}
sex :  {0.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'M', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'F', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '?', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}
on_thyroxine :  {'f', 1, 't', 0}
query_on_thyroxine :  {'f', 0, 't', 1}
on_antithyroid_medication :  {'f', 0, 't', 1}
sick :  {'f', 0, 't', 1}
pregnant :  {'f', 0, 't', 1}
thyroid_surgery :  {'f', 0, 't', 1}
I131_treatment :  {nan, 1, 0, 't', 'f'}
query_hypothyroid :  {'f', 0, 't', 1}
query_hyperthyroid :  {'f', 0, 't', 1}
lithium :  {'f', 0, 't', 1}
goitre :  {'f', 0, 't', 1}
tumor :  {'f', 0, 't', 1}
hypopituitary :  {nan, 0, 1, 't', 'f'}
psych :  {nan, 0, 1, 't', 'f'}
TSH_measured :  {'f', 'y', 't', 'n'}
TSH :  {0.79, 0.25, 2.5, 3.2, 4.7, '17.4', 6.1, '8.8', '3.6', '0.33', '4.30', 7.000000000000001, 1.0, 4.2, 2.0, '45', 9.8, 10.0, 3.0, 10.9, 12.6, 16.0, 4.0, '62', 15.1, 4.5, 18.3, 5.5, 23.0, 23.6, 5.0, 6.5, 0.75, 1.5, 0.5, '4.90', '0.58', 0.0, '90', 6.0, 40.0, 8.0, 8.5, 43.6, 44.0, 39.3, 46.8, 47.2, 47.8, 49.4, 46.0, 50.0, 53.0, '8.90', '54', 0.093, 0.08499999999999999, 0.101, 16.5, '0.08', '66', 17.0, '0.31', '1.60', '0.43', '9', '393', '0.075', '0.61', '1.20', '164', '0', 0.16999999999999998, 0.07700000000000001, 0.069, '0.82', 0.061, '0.77', '8.2', '9.9', '126', '0.09', '0.21', '165', '1.3', '1.50', '1.70', 0.045, '0.49', '0.3', '2.70', '22', '0.30', '6.90', '0.9', 0.037, '26', '0.68', '177', '7.8', '141', 0.029, '1.83', '0.055', 0.9890000000000001, 0.021, '5.1', '0.55', 0.41900000000000004, 1.8000000000000003, '131', '0.015', '0.02', 0.013000000000000001, '1.10', 3.3000000000000003, '1.5', '0.12', 0.005, '230', '0.41', '14.799999', '0.23', '67', 0.13, 0.63, 0.59, 0.67, 0.38, '3.70', 0.33999999999999997, 0.5499999999999999, 0.7100000000000001, 0.11399999999999999, '11.5', '1.2', '106', '9.5', '109', '5.6', '65', '0.40', '4.40', 0.27, 0.77, 0.52, '53', '19', '5.5', '0.90', '8.50', '6.50', 0.44999999999999996, 0.95, '17.40', '15.30', 0.09, 0.098, 14.099999999999998, '0.16', '35', '8.299999', '4.3', '0.48', 0.074, 0.082, '55', '8.799999', '13', '0.13', '9.7', '4.60', '114', '8.6', '40', '6.40', '0.72', '0.01', '88', '39', '0.93', 0.3, 0.066, '0.17', '6.7', '6', '9.90', 0.058, 4.6, 4.1, '0.95', 5.1, 5.6, '3.7', 0.05, 7.6, '6.5', '0.5', 8.6, '19.199999', '0.94', '3.90', '9.4', 9.6, 0.042, 0.033999999999999996, '15.3', 10.6, 11.6, '0.6', '0.065', '16', 3.6000000000000005, '2.3', 0.026000000000000002, '117', '2.20', 6.6000000000000005, 0.018000000000000002, 0.573, '70', '6.60', 0.01, '0.2', '3', '2.1', '170', '7.30', '288', '5.73', 0.002, '4.5', '12', '436', '60', 0.26, '11.1', 0.76, '150', 0.6799999999999999, 0.97, 1.3, '0.05', '1.4', '23', '1.8', '58', '213', '48', '7.5', '0.80', '0.25', '3.4', '9.40', '8.099999', 0.22, 0.54, 0.095, 0.087, 0.10300000000000001, 13.100000000000001, 13.600000000000001, '3.80', '0.56', 0.72, 16.6, '0.62', '0.63', 17.6, '59', '472', 0.071, 0.079, 19.1, '0.035', 1.4, '7.1', '3.1', 1.9, 1.15, 2.9, '0.11', 3.9, '494', '10.70', '9.099999', 0.9290000000000002, '183', '103', '0.59', 0.38999999999999996, 0.43, 0.18, 0.063, '8', '4', '197', '8.20', '57', '0.125', '0.73', '7.40', 0.055, '9.6', '9.70', '6.9', '15.299999', '80', 0.039, '7.10', '0.105', 0.04700000000000001, '7.7', '0.60', 0.13999999999999999, 0.031, '30.5', '0.37', '6.20', '92', 0.023, '530', '3.50', '9.2', 0.015, '1.6', '440', '0.53', '140', '4.20', 0.006999999999999999, '3.8', '76', '14', '3.10', '4.70', '2.10', '4.80', 0.64, 0.6, 0.5599999999999999, '7.9', 0.8290000000000001, '9.1', '4.7', '198', '30', '6.1', '5.4', '3.9', '0.28', '0.06', 1.0290000000000001, '52', '0.29', '0.79', 1.209, 8.2, '14.299999', '0.85', '16.5', '14.8', 0.889, 11.7, '0.18', '0.095', '1.40', '8.70', '16.50', 0.1, 0.092, '1.12', 1.7000000000000002, '430', '0.89', 2.7, 2.2, '7.4', '9.60', '0.15', 17.2, 17.7, '0.70', 5.2, '3.60', '49', 0.084, 0.06799999999999999, '42', 0.076, 19.7, 6.7, 6.2, 19.2, 1.6789999999999998, '9.80', '138', 0.74, '0.76', 25.2, '5.90', '1.90', 0.06, 0.31, 0.35000000000000003, 0.9199999999999999, '6.70', '100', '0.97', '9.599999', '5.20', '6.6', 0.052000000000000005, '0.38', '8.3', '8.9', '14.4', 0.044000000000000004, '2.90', '10.30', '73', '0.03', 0.027999999999999997, '32', 0.036000000000000004, '118', '89', '0.26', '5.8', '0.64', '5.60', 0.02, '2.60', '0.81', '0.74', 0.011999999999999999, '8.60', '0.78', '153', '?', 0.004, 0.22999999999999998, 1.1, '0.32', 0.9590000000000001, 0.48, 3.1, 2.4, '7.2', 1.6, '6.8', 2.6, 2.1, 3.5000000000000004, '50', '1.7', '0.255', 0.09699999999999999, '4.10', '19.20', '74', '36', '37', '1.80', '29', 0.08099999999999999, '11.099999', 1.479, '4.8', 0.909, '0.86', '0.98', 0.073, 0.08900000000000001, 0.839, '400', '0.19', '18', '1.9', '77', '2.5', '0.24', 0.11199999999999999, 0.19, 0.44, '10', 0.065, 0.056999999999999995, '9.799999', '1.1', '4.4', 0.51, '5.7', '0.45', '7.6', '20', 0.69, '4.50', 0.049, '9.3', 1.44, '6.3', '15', 0.041, 0.8699999999999999, '8.80', 0.15, 0.033, '82', 2.3, '0.99', 2.8, 0.025, 3.05, '143', 3.8, '145', '460', 4.3, 4.8, 0.016999999999999998, 5.8, 5.3, '9.10', 7.8, 7.3, '0.045', 0.009000000000000001, '6.4', '5', '26.4', '0.085', '260', 0.001, '9.299999', 0.4, '2.4', '8.1', '5.3', 0.36, 0.61, 0.8790000000000001, 0.469, 0.65, 0.7799999999999999, '14.40', '13.299999', '0.7', '33', '85', '188', 0.11, 6.800000000000001, '5.10', 10.8, 10.3, '18.4', '8.599999', '252', 11.8, 0.086, '0.51', '28', '96', 14.3, '0.52', '0.34', '68', '478', '46', '13.7', 17.8, 18.8, 0.06999999999999999, 0.09400000000000001, 0.078, 19.8, '8.7', '0.87', '61', '0.54', '3.20', '11.599999', 0.27999999999999997, '71', '11.40', '151', 0.32, 0.859, 0.062, 1.109, '10.3', '25', 0.054, 0.046, 0.8500000000000001, '0.42', 0.038, 0.53, '4.9', '0.67', '3.3', '7', '38', '16.799999', '6.2', '7.70', 0.03, 0.45999999999999996, '2.2', '8.4', 0.022000000000000002, 0.013999999999999999, '7.90', '1.04', 0.005999999999999999, '1.05', '11', 0.24, '468', 0.8200000000000001, 0.49, 0.7, 0.8089999999999999, 1.2, '0.07', '192', 0.9000000000000001, 1.1900000000000002, '0.47', '5.80', '2.80', '0.27', '0.57', '10.7', '4.2', '9.8', '2', '0.83', '200', '51', '0.025', 0.099, 0.091, '13.2', 0.232, '0.84', '0.35', '8.10', 16.4, '0.22', 0.075, 19.9, '166', '2.40', '0.91', '0.71', '7.3', '14.90', '0.96', 0.20800000000000002, 0.2, 0.08300000000000002, 0.05099999999999999, 0.067, 3.4000000000000004, 4.4, 4.9, '236', 5.4, '5.9', 5.9, 0.043, '99', '2.9', '4.01', '10.299999', '172', 8.9, '8.40', 9.9, '14.30', 0.034999999999999996, '0.65', '136', 11.4, 0.16, 1.37, '5.50', 0.027, '0.36', '108', 0.8, '2.50', '6.80', '6.10', 0.019, '8.30', '0.50', 0.73, 7.400000000000001, '125', '4.1', 0.011000000000000001, '9.50', 0.0029999999999999996, '0.39', '0.66', 0.37, 0.979, 0.12, 0.62, '0.005', '2.6', 1.8399999999999999, 0.41000000000000003, 0.66, 0.58, '21', '11.4', '0.92', '44', '1.03', '191', '17', 0.09599999999999999, '47', '11.9', '63', '0.8', '178', '8.5', '56', '41', '5.2', '0.115', 0.18899999999999997, 13.900000000000002, 0.10400000000000001, '31', '2.8', '0.135', '7.80', '11.60', '139', 0.9390000000000001, '176', '1.14', '24', 0.08, '0.1', 0.08800000000000001, '3.40', '0.44', '4.6', 3.7000000000000006, '0.4', '0.14', '1.02', '3.5', '12.099999', '0.88', '98', '13.30', '3.30', 0.29, 0.33, '86', 0.064, 0.07200000000000001, 0.055999999999999994, '0.20', '0.75', '0.46', '0.10', '1.01', 0.047999999999999994, '7.60', '500', '9.20', 0.04, 0.032, '199', '1', '235', 14.499999999999998, 0.023999999999999997, '1.30', '13.20', '216', '160', '3.2', '0.69', '2.30', '34', '6.30', '27', '43', '78', '7.50', 0.016, 1.1400000000000001, '0.04', 0.10199999999999998, 2.64, 0.008, 0.5700000000000001, '116', '2.7'}
T3_measured :  {'f', 'y', 't', 'n'}
T3 :  {0.8, 1.5, 2.4, 3.0, 1.7000000000000002, 2.6, 1.6, '3.6', '0.05', '1.4', '6.8', '4.30', 2.0, '1.8', 2.5, 6.2, 7.3, '2.80', 10.59, 18.0, 13.29, 4.0, 4.5, 0.9299999999999999, 5.0, 5.5, '1.7', 1.0, '4.2', '4.10', '4.90', '2', 0.5, 6.0, '0.80', 6.5, 8.5, '1.80', '0.83', 9.5, '10.6', 3.5000000000000004, '8.90', 5.9, '3.4', '8.099999', '4.8', '3.80', '10.20', '8.10', 7.000000000000001, 1.4, '7.1', '3.1', '1.60', 1.9, 2.9, '18', '2.40', 3.9, '1.9', 0.9000000000000001, '7.3', '2.5', '1.20', '0', 0.2, '8', '4', 2.08, 2.01, '4.4', '1.1', 3.4000000000000004, 4.6899999999999995, 4.9, '5.7', 4.4, 5.4, '1.3', '5.9', '6.9', '1.70', '1.50', '7.6', 6.9, 6.4, '2.9', '0.3', '2.70', '4.50', 1.44, '0.30', 0.69, '0.9', '0.60', '5.50', '6.20', 2.3, 2.8, 3.8, '2.50', 4.8, 1.3, 4.3, '6.10', 4.19, '5.1', 5.3, '3.50', '10.599999', '1.6', '0.50', 1.8000000000000003, '4.20', '4.1', '1.10', 3.3000000000000003, '1.5', '3.8', '6.4', '3.10', '5', '4.70', '2.10', '2.4', '5.3', '4.80', 0.6, '2.6', '3.70', 0.4, 0.83, '13.299999', '1.2', '4.7', '5.6', '9.5', '0.7', '5.4', '6.1', '3.9', '0.40', 6.800000000000001, '4.40', '0.90', '5.5', '0.8', '5.30', '5.10', 0.7, 1.2, '8.599999', '8.5', '1.40', '5.2', 0.1, 2.2, 2.7, '2.8', 3.2, '4.3', '0.70', 5.7, 5.2, '3.60', 6.7, '0.1', '3.40', 1.7399999999999998, '9.80', 2.06, '4.6', '4.60', 3.7000000000000006, '0.4', '3.20', '3.5', '0.93', '3.30', '1.90', 0.3, '6.70', '6', '6.7', '0.20', 4.1, 4.6, '5.20', 5.1, '6.6', '7.60', 5.6, '3.7', 6.1, 0.05, 7.6, 7.1, '6.5', 1.1, '0.5', '3.90', '8.9', 3.1, '4.9', '2.90', '0.6', '3.3', '7', '6.2', 0.96, '1', '1.44', '1.30', '2.2', '3.2', 3.6000000000000005, '2.3', '0.69', '2.30', '2.20', '5.60', '2.60', 6.6000000000000005, '6.60', '8.60', '2.1', '3', '0.2', '7.30', '?', '2.7', '4.5'}
TT4_measured :  {'f', 'y', 't', 'n'}
TT4 :  {0.5, 1.0, 2.8, '228', 3.2, 5.0, 6.3, 7.7, 8.6, 8.7, 10.2, 7.3, 12.0, 13.900000000000002, 14.3, '45', 12.8, 12.4, 9.8, 11.3, 11.4, 13.600000000000001, 20.7, '62', 16.8, 18.0, 18.9, 25.5, 25.6, 25.2, '410', 6.0, 30.099999999999998, 25.8, 6.5, 5.5, 7.5, 1.5, '90', 37.2, 39.5, 8.5, 8.0, 43.0, 38.6, '75', 9.0, '256', 9.5, 41.0, 10.0, 10.5, 11.0, 11.5, '54', 2.5, 2.0, 12.5, '239', 60.0, 13.0, '93', '187', 13.5, 15.0, '113', 15.5, 16.0, 3.0, 16.5, 3.375, '66', 17.0, 17.5, 18.5, 19.5, 19.0, 7.000000000000001, 20.0, 20.5, 21.0, '72', 4.5, 4.0, '120', 22.0, 22.5, '9', 23.0, '278', 23.5, 24.0, 24.5, '164', 25.0, '126', '165', 0.25, '22', '105', '283', '177', '141', 14.000000000000002, '273', '101', '372', 0.41900000000000004, 1.8000000000000003, '131', '230', '282', '67', '253', '106', '9.5', '109', '65', '79', '600', '53', '135', '272', '19', '244', 14.099999999999998, '181', '35', '211', '257', '167', '55', '13', '128', '9.7', '114', '8.6', '40', '88', '39', 0.3, '6', 28.000000000000004, 4.6, 4.1, 5.6, 5.1, 6.1, 7.6, 7.1, 8.1, '3.90', 9.1, 9.6, 10.6, 10.1, '158', 11.118, 11.6, '64', 11.1, 12.1, 12.6, 14.6, '16', 15.6, 15.1, 3.6000000000000005, '2.3', '155', '117', '268', 6.6000000000000005, '70', '6.60', '3', '170', '7.30', '12', '201', '60', 1.3, '150', '23', '308', '156', '58', '213', '237', '48', '111', '7.5', 9.158999999999999, '119', 13.100000000000001, '202', '186', '87', 16.1, 16.6, 17.1, '210', 17.6, '59', 18.6, 18.1, 19.6, 19.1, 20.6, 20.1, 1.9, 21.1, 21.6, 22.6, 22.1, '107', 23.1, 23.6, 24.6, '183', '103', '426', '195', 26.1, '4', '197', '57', '9.70', '189', '80', '296', 13.699999999999998, '221', '92', '94', '359', '132', '269', '222', '140', '83', '275', '76', '130', '14', 0.6, 0.406, '219', '198', '30', '3.9', '218', '134', '52', '386', 8.2, '242', 9.7, 9.2, 10.7, 11.2, '84', 11.7, 12.2, 12.7, '220', '287', '204', 14.2, 14.7, 1.7000000000000002, '430', 15.7, 15.2, '169', '232', 2.2, 16.7, 16.2, 2.7, 4.7, 17.2, 4.2, 17.7, '190', 5.2, 18.7, 5.7, 18.2, '154', '49', 19.7, 6.2, '42', 19.2, 6.7, 20.2, 21.7, 21.2, '138', 22.2, '173', 23.2, 23.7, 25.7, '215', '100', 29.2, '6.6', 7.200000000000001, '196', '2.90', '73', '241', '32', 13.200000000000001, '118', '89', '226', '5.8', '8.60', '194', '?', '153', 0.48, 1.4, 2.9, '91', 3.9, 3.3000000000000003, 3.7000000000000006, 3.5000000000000004, 2.1, 3.1, 1.6, 2.4, 3.121, '223', '50', '267', '4.10', '171', '74', '36', '37', '29', '246', '4.8', '142', 0.839, '18', '77', '2.5', '10', '124', 27.200000000000003, '205', '7.6', '20', '15', '209', '4.06', '212', '115', '162', '82', 15.299999999999999, 2.3, '129', 3.8, '143', '145', 4.8, 4.3, '261', 5.3, 5.8, 7.8, '127', '184', '5', '260', 0.4, '8.1', '5.3', '161', '33', '85', '188', 6.800000000000001, 8.3, 8.8, 9.3, 9.663, 10.8, 10.3, '252', 11.8, '224', 12.3, 13.3, 13.8, '203', '28', '96', 15.8, 16.3, '68', '46', '238', 17.3, 17.8, 18.3, 18.8, 19.8, 19.3, '258', '159', 20.3, 20.8, '61', 21.3, 22.3, 22.8, 23.3, '263', 23.8, 24.8, 25.3, '250', '71', '151', '254', 26.3, 27.3, '174', '69', '25', '247', '450', '102', '249', '149', 1.1, '38', 14.800000000000002, '121', '8.4', '157', '233', '144', '152', '240', '255', '11', 0.95, 1.2, '97', '192', '292', '4.2', '2', '200', '51', '123', '185', 14.899999999999999, '234', '8.10', 16.4, 16.9, 17.9, 17.4, 18.4, 19.9, 19.4, '182', 20.9, 20.4, 21.4, '166', 21.9, 22.4, '289', 23.9, 23.4, 24.4, 24.9, 0.2, '245', '137', '225', 27.800000000000004, 28.9, '395', 3.4000000000000004, 4.4, 4.9, '214', '236', 5.9, 5.4, 6.9, 6.4, '99', '2.9', 7.9, '172', 8.9, 8.4, '217', 9.4, 9.9, 10.4, 10.9, '396', '136', 11.9, 11.329000000000002, 12.9, 13.4, '122', 15.9, 15.4, '108', '147', '302', 7.400000000000001, '125', '81', '4.1', '248', '110', 0.58, '168', '21', '133', '44', '191', '95', '17', '47', '63', '5.30', '178', '231', '56', '41', '193', '31', 14.400000000000002, '139', '176', '207', '24', '148', '208', '104', '180', '98', 0.29, '86', '7.60', '280', '175', '333', '146', '301', '199', '235', 14.499999999999998, '206', '216', '160', '2.30', '34', '112', '27', '78', '43', '179', '7.50', '163', '116'}
T4U_measured :  {'f', 'y', 't', 'n'}
T4U :  {1.7000000000000002, 2.8, 3.6000000000000005, 4.9, 5.8, 6.4, 7.000000000000001, '0.33', 8.2, 9.0, 10.4, 10.9, 13.3, 13.100000000000001, 12.8, 11.6, 15.7, 16.6, 15.5, 17.5, 18.2, 13.600000000000001, 14.899999999999999, 15.0, 16.5, 5.0, 19.4, 19.7, 23.2, 21.0, 6.0, 6.5, '1.64', '1.77', '1.69', '0.58', 7.5, 8.5, 8.0, 9.5, 10.0, '1.62', 11.0, 11.5, 2.5, 12.0, '1.65', 12.5, 13.5, 13.0, '1.39', 16.0, 17.0, 18.0, '0.31', '1.82', 19.5, 20.0, 4.5, 21.5, '2.03', '0.61', '1.20', '0', '0.82', 5.5, '2.12', '0.77', '1.3', '1.50', '1.70', '0.49', '0.3', '0.30', '1.89', '0.9', '0.68', 14.000000000000002, '1.83', '0.55', '1.45', '1.15', '1.93', '1.10', '1.5', '0.41', '1.16', '1.58', '1.73', '1.2', '0.40', '0.90', '1.46', '1.66', 14.099999999999998, '0.48', '1.54', '0.72', '0.93', '0.17', 4.1, 4.6, '0.95', 5.6, 5.1, 6.1, '1.51', 7.1, 7.6, '0.5', 8.6, 8.1, '0.94', 9.1, 9.6, 10.1, 11.1, '0.6', 12.6, 12.1, 14.6, '1.78', 15.1, 15.6, '1.43', '1.33', 6.6000000000000005, '0.2', '2.32', '1.4', '1.8', '1.87', '0.80', '1.22', '0.25', '1.25', '1.38', '0.56', 16.1, '0.62', '0.63', '1.42', 17.6, 17.1, 18.1, 20.1, 21.6, '0.59', '1.27', '0.73', '1.86', '1.48', '1.31', '0.60', 13.699999999999998, '0.37', '1.6', '2.02', '0.53', '1.57', '1.76', '0.28', '0.29', '1.53', '0.79', 8.7, '1.07', 9.2, 9.7, '0.85', 10.2, 10.7, 11.2, '1.40', 12.2, 12.7, '1.12', 14.2, 14.7, '0.89', 15.2, 3.2, 16.7, 16.2, 4.7, 17.7, 4.2, '0.70', 5.2, 5.7, 18.7, 6.2, 6.7, 7.7, 20.2, '0.76', '0.97', '0.38', 7.200000000000001, '1.36', 13.200000000000001, '1.44', '0.64', '0.81', '0.74', '1.94', '0.78', '?', '1.47', 1.9, '0.32', 3.1, 3.7000000000000006, '1.7', '1.80', '1.96', '1.24', '0.86', '2.33', '0.98', '1.19', '1.41', '1.17', '0.19', '1.09', '1.1', '1.75', '0.45', '1.74', '1.79', 15.299999999999999, '0.99', 3.8, 4.8, '2.15', 6.3, '2.01', 7.8, 7.3, '1.55', '0.7', '1.28', '0.944', 6.800000000000001, '1.06', '1.56', 8.8, 8.3, '1.84', 9.3, 9.8, 10.8, 10.3, 11.3, 12.3, 13.8, '0.51', 14.3, '1.32', '0.52', 15.8, 16.3, 16.8, '0.34', 17.3, 17.8, 18.3, 18.8, 19.3, 20.3, '0.87', '0.54', '1.61', 23.3, '1.71', '1.97', '0.42', '0.67', '1.52', '1.67', 14.800000000000002, '1.08', '1.34', '1.04', '1.05', '0.47', '0.27', '0.57', '2', '0.83', '1.59', '0.84', '0.35', 16.9, 16.4, 17.4, 17.9, 18.4, 18.9, '0.91', '0.71', '0.96', '1.26', 4.4, 5.4, 6.9, 7.9, 8.4, 8.9, 9.9, 9.4, '0.65', 11.9, 11.4, '1.35', 12.4, 12.9, 13.4, '1.68', 15.9, '0.36', 15.4, '0.50', '1.95', 7.400000000000001, '1.18', '0.66', '0.92', '1.03', '1.29', '1.37', '2.21', '0.8', 13.900000000000002, 14.400000000000002, '2.16', '1.14', '0.44', '1.88', '1.49', '0.4', '1.02', '1.63', '0.88', '0.20', '0.75', '0.46', '1.01', '1.13', '1.21', '1.11', '1', 14.499999999999998, '1.30', '0.69', '1.23', '1.81', '1.72'}
FTI_measured :  {'f', 'y', 't', 'n'}

replace '?' with 'nan'

In [27]:
data=data.replace({"?":np.NAN})
data.isna().sum()

age                            409
sex                            394
on_thyroxine                     0
query_on_thyroxine               0
on_antithyroid_medication        0
sick                             0
pregnant                         0
thyroid_surgery                  0
I131_treatment                3021
query_hypothyroid                0
query_hyperthyroid               0
lithium                          0
goitre                           0
tumor                            0
hypopituitary                 3021
psych                         3021
TSH_measured                     0
TSH                           1321
T3_measured                      0
T3                            3372
TT4_measured                     0
TT4                            696
T4U_measured                     0
T4U                           1083
FTI_measured                     0
FTI                           1075
TBG_measured                  7200
TBG                          19174
referral_source              10221
Target                           0
dtype: int64

'TBG', 'referral_source' and 'TBG_measured' attributes have too many nan values.

so,we have to drop them along with 'sex' attribute.

In [28]:
del data['TBG']
del data['referral_source']
del data['TBG_measured']
del data['sex']

we can have maximum nine nan values in a row, so I will drop all the rows with more than five nan values because they present very few data and aren't good enough for the classification

In [29]:
data.dropna(axis = 0, thresh = 20, inplace = True)
data.isna().sum()

age                           380
on_thyroxine                    0
query_on_thyroxine              0
on_antithyroid_medication       0
sick                            0
pregnant                        0
thyroid_surgery                 0
I131_treatment               2773
query_hypothyroid               0
query_hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                2773
psych                        2773
TSH_measured                    0
TSH                          1074
T3_measured                     0
T3                           3125
TT4_measured                    0
TT4                           448
T4U_measured                    0
T4U                           835
FTI_measured                    0
FTI                           828
Target                          0
dtype: int64

Convert the categorical values into numerical values, because for the classification it is important that the dataset has only numerical attributes.

In [30]:
data = data.replace({"t":1,"f":0, "y":1, "n":0, "hypothyroid":2, "negative":0,"hyperthyroid":1, "F":1, "M":0})
display(data.dtypes)

age                           object
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
sick                           int64
pregnant                       int64
thyroid_surgery                int64
I131_treatment               float64
query_hypothyroid              int64
query_hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                float64
psych                        float64
TSH_measured                   int64
TSH                           object
T3_measured                    int64
T3                            object
TT4_measured                   int64
TT4                           object
T4U_measured                   int64
T4U                           object
FTI_measured                   int64
FTI                           object
Target                         int64
dtype: object

convert object datatype to numeric

In [31]:
cols = data.columns[data.dtypes.eq('object')]
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')
display(data.dtypes)

age                          float64
on_thyroxine                   int64
query_on_thyroxine             int64
on_antithyroid_medication      int64
sick                           int64
pregnant                       int64
thyroid_surgery                int64
I131_treatment               float64
query_hypothyroid              int64
query_hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                float64
psych                        float64
TSH_measured                   int64
TSH                          float64
T3_measured                    int64
T3                           float64
TT4_measured                   int64
TT4                          float64
T4U_measured                   int64
T4U                          float64
FTI_measured                   int64
FTI                          float64
Target                         int64
dtype: object

In [32]:
data.to_csv('final_dataset.csv')

**3: Training of the Classifiers**

firstly, we have to find the attributes which are most related to the target.

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19538 entries, 0 to 19785
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        19158 non-null  float64
 1   on_thyroxine               19538 non-null  int64
 2   query_on_thyroxine         19538 non-null  int64
 3   on_antithyroid_medication  19538 non-null  int64
 4   sick                       19538 non-null  int64
 5   pregnant                   19538 non-null  int64
 6   thyroid_surgery            19538 non-null  int64
 7   I131_treatment             16765 non-null  float64
 8   query_hypothyroid          19538 non-null  int64
 9   query_hyperthyroid         19538 non-null  int64
 10  lithium                    19538 non-null  int64
 11  goitre                     19538 non-null  int64
 12  tumor                      19538 non-null  int64
 13  hypopituitary              16765 non-null  float64
 14  psych                      16765 non-null  float64
 15  TSH_measured               19538 non-null  int64
 16  TSH                        18464 non-null  float64
 17  T3_measured                19538 non-null  int64
 18  T3                         16413 non-null  float64
 19  TT4_measured               19538 non-null  int64
 20  TT4                        19090 non-null  float64
 21  T4U_measured               19538 non-null  int64
 22  T4U                        18703 non-null  float64
 23  FTI_measured               19538 non-null  int64
 24  FTI                        18710 non-null  float64
 25  Target                     19538 non-null  int64
dtypes: float64(9), int64(17)
memory usage: 4.0 MB

In [34]:
corr_values = abs(data[data.columns[0:]].corr()['Target'][:])
corr_values = corr_values.drop('Target')
corr_values = corr_values[corr_values > 0.04]
display(corr_values)

on_thyroxine         0.089933
query_hypothyroid    0.072636
psych                0.043933
TSH_measured         0.057784
TSH                  0.359483
T3                   0.100027
TT4                  0.061453
T4U                  0.055530
FTI                  0.060555
Name: Target, dtype: float64

Now, divide the dataset into two sets: 

training set and 

the testing set.

In [35]:
corr_values.index

Index(['on_thyroxine', 'query_hypothyroid', 'psych', 'TSH_measured', 'TSH',
       'T3', 'TT4', 'T4U', 'FTI'],
      dtype='object')

In [38]:
def holdout(dataframe):
  x = dataframe[['age','on_thyroxine', 'query_hypothyroid', 'query_hyperthyroid', 'psych',
       'TSH', 'FTI']]
  y = dataframe['Target']
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42) 
  return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = holdout(data)

In [39]:
data1 = data.interpolate(method = 'spline', order = 3)
display(data1.isna().sum())

age                          0
on_thyroxine                 0
query_on_thyroxine           0
on_antithyroid_medication    0
sick                         0
pregnant                     0
thyroid_surgery              0
I131_treatment               0
query_hypothyroid            0
query_hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH_measured                 0
TSH                          0
T3_measured                  0
T3                           0
TT4_measured                 0
TT4                          0
T4U_measured                 0
T4U                          0
FTI_measured                 0
FTI                          0
Target                       0
dtype: int64

In [46]:
classifiers1 = {
    "XGBClassifier" : XGBClassifier(learning_rate=0.01),
    "Nearest Neighbors" : KNeighborsClassifier(4),
    "Decision Tree" : DecisionTreeClassifier(class_weight = 'balanced'),
    "Random Forest": RandomForestClassifier(class_weight = 'balanced',random_state = 1),
}

In [47]:
def classification(classifiers, X_train, X_test, y_train, y_test):
    # Creo un dataframe per visualizzare i risultati calcolati
  res = pd.DataFrame(columns=["Classifier", 
                                "Accuracy", 
                                "Precision", 
                                "Recall", 
                                "FScore"])
  for name, clf in classifiers.items():
            clf.fit(X_train, y_train)
            y_pred = clf.predict(X_test)
            pr, rc, fs, sup = metrics.precision_recall_fscore_support(y_test, y_pred, average='macro')
            res = res.append({"Classifier": name,"Accuracy": round(metrics.accuracy_score(y_test, y_pred), 4),
                              "Precision": round(pr, 4), "Recall":round(rc, 4), "FScore":round(fs, 4)}, ignore_index=True)
            print("Confusion matrix for: ", name)
            display(confusion_matrix(y_test, y_pred))
  res.set_index("FScore", inplace=True)
  res.sort_values(by="FScore", ascending=False, inplace=True)   
  return res

In [48]:
corr_values = abs(data1[data1.columns[0:]].corr()['Target'][:])
corr_values = corr_values.drop('Target')
corr_values = corr_values[corr_values > 0.04]
display(corr_values)

X_train1, X_test1, y_train1, y_test1 = holdout(data1)

display(classification(classifiers1,X_train1, X_test1, y_train1, y_test1))

on_thyroxine         0.089933
query_hypothyroid    0.072636
psych                0.041390
TSH_measured         0.057784
TSH                  0.321522
T3                   0.092222
TT4                  0.064251
T4U                  0.053964
FTI                  0.059411
Name: Target, dtype: float64

Confusion matrix for:  XGBClassifier

array([[5167,   11,  101],
       [  89,   52,    9],
       [ 123,    1,  309]])

Confusion matrix for:  Nearest Neighbors

array([[5176,    8,   95],
       [ 100,   47,    3],
       [ 293,    3,  137]])

Confusion matrix for:  Decision Tree

array([[5159,   42,   78],
       [  44,  105,    1],
       [  63,    2,  368]])

Confusion matrix for:  Random Forest

array([[5170,   26,   83],
       [  46,  102,    2],
       [  34,    0,  399]])

               Classifier  Accuracy  Precision  Recall
FScore
0.8620      Random Forest    0.9674     0.8687  0.8603
0.8391      Decision Tree    0.9608     0.8359  0.8424
0.7270      XGBClassifier    0.9430     0.8369  0.6797
0.6055  Nearest Neighbors    0.9144     0.7743  0.5367

In [49]:
model=RandomForestClassifier(class_weight = 'balanced',random_state = 1)
model.fit(X_train1,y_train1)

RandomForestClassifier(class_weight='balanced', random_state=1)

In [50]:
fet=[]
fet.append(int(40))
fet.append(int(0))
fet.append(int(0))
fet.append(int(0))
fet.append(float(0))
fet.append(float(0.003))
fet.append(float(0))
model.predict([np.array(fet)])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [51]:
import _pickle
_pickle.dump(model,open('model.pkl','wb'))